services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false
        bind:
            $logger: '@?monolog.logger.stripe'

    Softspring\PlatformBundle\Stripe\Transformer\ConceptTransformer: ~

    Softspring\PlatformBundle\Stripe\Adapter\ConceptAdapter:
        tags:
            - { name: 'sfs_platform.adapter', model: 'concept', platform: 'stripe' }

    Softspring\PlatformBundle\Stripe\EntityListener\ConceptEntityListener:
        tags:
            - { name: 'doctrine.orm.entity_listener', event: 'preUpdate', method: 'preUpdate', entity: '%sfs_payment.concept.class%' } # , entity_manager: '%sfs_payment.entity_manager_name%' }
            - { name: 'doctrine.orm.entity_listener', event: 'prePersist', method: 'prePersist', entity: '%sfs_payment.concept.class%' } # , entity_manager: '%sfs_payment.entity_manager_name%' }
            - { name: 'doctrine.orm.entity_listener', event: 'preRemove', method: 'preRemove', entity: '%sfs_payment.concept.class%' } # , entity_manager: '%sfs_payment.entity_manager_name%' }
